.story-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  background: rgb(0 0 0 / 0.1);
  border-radius: 1rem;
}

.transition-item {
  display: grid;
  place-items: center;
  width: 256px;
  height: 56px;
  border-radius: 1rem;
  background: linear-gradient(135deg, var(--start-color), var(--end-color));
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}

.transition-label {
  font-family: system-ui;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255 255 255 / 0.85);
  white-space: nowrap;
}

/* Colors */

.transition-item--sunset {
  --start-color: #f19a3f;
  --end-color: #be4421;
}

.transition-item--ocean {
  --start-color: #22aee6;
  --end-color: #2b5fc0;
}

.transition-item--twilight {
  --start-color: #3578ea;
  --end-color: #6a11cb;
}

.transition-item--earthy {
  --start-color: #a1c045;
  --end-color: #7f6139;
}

.transition-item--ice {
  --start-color: #80d0c7;
  --end-color: #156b9c;
}

.transition-item--small {
  height: 40px;
}

.transitioning {
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease;
}

/* Fade */

.transition--fade-active,
.transition--fade-enter-active,
.transition--fade-leave-active {
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.transition--fade,
.transition--fade-from,
.transition--fade-enter-from,
.transition--fade-leave-to {
  visibility: hidden;
  opacity: 0;
}

.transition--fade-to,
.transition--fade-enter-to,
.transition--fade-leave-from {
  visibility: visible;
  opacity: 1;
}

/* Slide */

.transition--slide-down,
.transition--slide-down-from {
  transform: translateY(20px);
  opacity: 0;
}

.transition--slide-down-to {
  transform: translateY(0);
  opacity: 1;
}

.transition--slide-up,
.transition--slide-up-from {
  transform: translateY(-20px);
  opacity: 0;
}

.transition--slide-up-to {
  transform: translateY(0);
  opacity: 1;
}

.transition--slide-left {
  transform: translateX(-20px);
  opacity: 0;
}

.transition--slide-right {
  transform: translateX(20px);
  opacity: 0;
}

/* Zoom */

.transition--zoom-in,
.transition--zoom-in-from {
  transform: scale(0.9);
  opacity: 0;
}

.transition--zoom-in-to {
  transform: scale(1);
  opacity: 1;
}

.transition--zoom-out,
.transition--zoom-out-from {
  transform: scale(1.1);
  opacity: 0;
}

.transition--zoom-out-to {
  transform: scale(1);
  opacity: 1;
}
